body {color: steelblue;}

body {background-color:skyblue;}

h1 {color: navy;}

.bioinfo {
    background-color: #ffffff;
    width: 700px;
    /* to calculate the width, its the width of your box + padding x 2 + border x 2 + margin x 2 */
    /* for our box: 300px + 40 px + 10px +100px = 450 */
    padding: 20px;
    margin: 50px;
    border: 5px solid #000000;
    float: inline-start;
}

a:link {color:royalblue;}

nav a {background-color:royalblue;}

nav a {color:white;}

nav a:hover {background-color:teal}

nav {padding: 10px;}

nav {margin-bottom: 30px;}

.motto {color: rgb(54, 53, 53);}

.footer {background-color: lightgray;
color: rgb(54, 53, 53);}

.bioinfo {flex-basis: 50%;}

@media only screen and (max-width: 600px) {}
@media only screen and (min-width: 920) {}